
/*
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
.fng{font-family: 'Jeju Gothic', serif;}
*/
@font-face
{
	font-family: 'Conv_10';
	src: url('/ITAD/fonts/10.eot');
	src: local('※'), url('/ITAD/fonts/10.woff') format('woff'), url('/ITAD/fonts/10.ttf') format('truetype'), url('/ITAD/fonts/10.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}