
/* Mobile Version */

table, td{

	border:0px;
	margin:0px;
	padding:0px;
	border-collapse:collapse;
}


#page_container{

	height:100%;
	width:100%;

}
#contents_area{

	vertical-align:top;
	width:100%;

}
#foot_area{

	vertical-align:bottom;
	width:100%;				
}

#content{

	width:100%;				

}
#content_left{
	
	display:none;    		
}
#head_bar{
	width:100%
}
#menu_icon{
	
	width:35px;
	height:35px;
	float:left;

}

/*   Á¤¸®   */
#ulid, #ulname, #ulstrdept{
	
	width:90px;
	height:20px;
}
#pop{
	
	background-color:white;
	position:fixed;
	
    margin: 0px auto;
    border:1px solid black;
	display:none;
}

/*---------------------------------------------------------------------------------------------------------------------*/
.infobox
{
	
	border-radius: 5px;
	border:1px solid grey;
	box-shadow:2px 2px 4px #c0c0c0;
	padding:10px;
}
.left_blank_area, .right_black_area{
	display:none;			

}
.logo_field{

	height:15px;
	bgcolor:#ffffff;
}
.logo_img{
	
	float:right;
}
.logo_font{
	
	text-align:right;
	text-color:white;
}
.toptitle_field{
	
	background-color:#1e2160;
 	height:10;
}
.toptitle_font{
	
	font-size:16pt; 
	color:white; 
	font-family:Arial; 
	font-weight:bold;
}
 .bottomtitle
{
	width:100%;
	background-color:#1e2160;
 	height:18px;
 	line-height:18px; 
	text-align:right;

 }